[buildout]
develop = .
parts = test docs pydev

[test]
recipe = zc.recipe.testrunner
eggs = zope.annotation [test,zcml]

[docs]
recipe = zc.recipe.egg
eggs = zope.annotation [docs]
dependent-scripts = true

[pydev]
recipe = pb.recipes.pydev
eggs = zope.annotation
