include *.rst
include *.txt
include tox.ini
include bootstrap.py
include buildout.cfg
include .coveragerc

recursive-include src *
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

global-exclude *.pyc
